.example{
    width:300px;
    height:300px;
    background-color: rgb(16, 224, 190);
    border-width:3px;
    border-style: groove;
}
.luffy{
    width:300px;
    height:300px;
    background-color: bisque;
    border-width:3px;
    border-style: solid;
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: groove; */
    /* border-style: ridge; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: none; */
    /* border-style: hidden; */
    /* border-style: dotted dashed solid double; */
    /* border-color:rgb(233, 10, 133); */
    border: 3px solid red;
    border-radius: 50px;
}