.first{
    width:100px;
    height:100px;
    background-color: blanchedalmond;
    margin-right:5px

}
.sec{
    width: 100px;
    height: 150px;
    background-color: blueviolet;
    margin-top:5px;
    margin-bottom:5px;
}
.third{
    width: 100px;
    height: 150px;
    background-color: brown;
    margin:5px 10px 15px 20px;
}
.fourth{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-left: 5px;
}