#first{
    width:100px;
    height:100px;
    padding:10px;
    background-color: blueviolet;
}
#sec{
    width:100px;
    height:100px;
    padding:20px;
    background-color: brown;
    border:3px solid black;
    margin:5px;
}
.third{
    max-width:200%;
    min-width: 100%;
    height:300px;
    background-color: brown;
}